/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.wrapper{
    width: 1280px;
    margin: 0 auto;
    background-color: #F0F0F0;
    display: flex;
    flex-wrap: wrap;

}

.title{
    width: 350px;
    height: 366px;
    background-color: #F0F0F0;
    margin:  40px auto;
    position: relative;
}
.topLine, .bottomLine{
    width: 350px;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #2EB738;
}
hr{
    width: 280px;
    height: 1px;
    background-color: #2EB738;
    margin: 0;
}
.content{
    height: 350px;
    display: flex; 
    justify-content: center; 
    align-content: center;
    flex-wrap: wrap;
    color: #2EB738;
}
h1{  
    font-size: 56px;
    margin: 10px;
}
p{
    font-size: 20px;
}


.box{
    box-sizing: border-box;
    width: 350px;
    height: 366px;
    border-radius: 100px 0 30px 0;
    background-color: white;
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    margin:  40px auto;
    padding: 50px 40px;
    color: #2EB738;
}
.box h1{
    width: 71px;
    text-align: center;
    font-size: 128px;
    font-weight: bold;
    margin: 0;
    text-shadow: 4px 3px 0px #F0F0F0
}
.box p{
    text-align: left;
    width: 118px;
    font-size: 24px;
    margin-bottom: 8px;
}
.right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer{
    width: 1280px;
    height: 34px;
    background-color: #2EB738;
    margin-top: 72px;
}
.footer p{
    color: white;
    text-align: right;
    line-height: 34px;
}